:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-grey: #969696;
    --color-grey-light: #D0D0D0;
    --bg-grey-dark: #0F0F0F;
    --bg-grey-light: #1F1F1F;
    --bg-grey: #191B1C;
}
